@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 100%;
  width: 100%;
}



@keyframes fadeGlow {
  0% {
    opacity: 0;
    letter-spacing: -2px;
    filter: blur(4px);
  }
  50% {
    opacity: 0.7;
    letter-spacing: 1px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
    filter: blur(0px);
  }
}

.brand-animate {
  animation: fadeGlow 1.6s ease-out forwards;
}
